{:deps {lilactown/hx {:mvn/version "0.5.2"}
        org.clojure/clojurescript {:mvn/version "1.10.520"}

        com.bhauman/figwheel-main {:mvn/version "0.2.0"}
        com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
        devcards {:mvn/version "0.2.6"
                  :exclude [cljsjs/react
                            cljsjs/react-dom]}}
 :paths ["src" "resources" "target"]
 :aliases {:dev {:main-opts ["--main" "figwheel.main"
                             "--build" "dev"
                             "--repl"]}}}
